:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}



.search-form {
  /* display: flex; */
  padding-top: 15px;
  padding-bottom: 30px;
  margin-left: 25%;
  /* margin-left: auto;
  margin-right: auto; */
}

.load-more {
  margin-left: 25%;
  /* display: inline-block;
  display: none; */
}