:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

/*Jumping Scrollbar Issue fixed*/
html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

.load-more-section {
  margin-top: 5px;
}

.load-more-section,
.search-section {
  display: flex;
  justify-content: center;
  background-color: #C5E2FF;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.load-more {
  display: none;
}

button {
  background: #aed3f8;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;

  font: bold 15px 'Quicksand', san-serif;
  color: #ffffff;
  transition: all 0.2s;
}

input {
  border: none;
  outline: none;
  border-radius: 2px;
  background: #dcebff;
  color: #3081cc;
}

::placeholder {
  color: #fafafa;
  opacity: 1;
  font: 15px 'Quicksand', san-serif;
}

.load-more {
  display: none;
  position: relative;
  padding: 8px 16px;
}



.load-more,
.search-form {
  padding: 5px 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}


.button--loading::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}
@keyframes button-loading-spinner {
  from {
      transform: rotate(0turn);
  }

  to {
      transform: rotate(1turn);
  }
}